<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Calculadora</title>
    <link rel="shortcut icon" href="https://png.pngtree.com/png-vector/20190115/ourlarge/pngtree-vector-calculator-icon-png-image_319810.jpg" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" /> -->
    <!-- <script defer src="https://pyscript.net/alpha/pyscript.js"></script> -->
  </head>
  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarExample01"
        aria-controls="navbarExample01"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#calcular">Calcular</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#instrucciones">Instrucciones</a>
          </li>
        </ul>
      </div>
    </div>
  </header>
</nav>
<div class="p-5 text-center bg-light">
  <h1 class="mb-3 mt-5">Calculadora de aceleración</h1>
  <h4 class="mb-3">Aceleración constante</h4>
  <a class="btn btn-primary mb-5" href="#calcular" role="button">Calcular</a>
</div>
<div class="container text-center py-5">
  <img src="https://www.fisicaenlinea.com/04cinematica/images/aceleracion01.jpg" alt="aceleracion">
</div>
<div id="instrucciones" class="container justify-content-center my-4 w-50  text-center">
  <h3 class="text-center mb-3">Instrucciones para calcular</h3>
  <ul class="list-group">
  <li class="list-group-item">Ingresar la cantidad de etapas</li>
  <li class="list-group-item">Si se conoce la aceleración, ingresarla</li>
  <li class="list-group-item">Ingresar el tiempo</li>
  <li class="list-group-item">En la primera etapa ingresar la velocidad inicial</li>
  <li class="list-group-item">De no saber el tiempo, ingresar la velocidad final</li>
</ul>
</div>
<div id="calcular" class="calcular container w-75 p-5 justify-content-center">
  <h3 class="text-center mb-3">Calcular</h3>
    <form action="/" method="post">
      <div class="row justify-content-md-center">
        <div class="col">
          <div class="mb-3">
            <label for="tiempo" class="form-label text-center w-100">¿Conoce el tiempo?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tiempo" id="tiempo-no">
              <label class="form-check-label" for="tiempo-no" >
                No
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="tiempo" id="tiempo-si" checked>
              <label class="form-check-label" for="tiempo-si">
                Si
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="aceleracion" class="form-label text-center w-100">¿Conoce la aceleración?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="aceleracion" id="aceleracion-no">
              <label class="form-check-label" for="aceleracion-no" >
                No
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="aceleracion" id="aceleracion-si" checked>
              <label class="form-check-label" for="aceleracion-si">
                Si
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="velocidad_inicial" class="form-label text-center w-100">¿Conoce la velocidad inicial?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="vi" id="velocidad-inicial-no">
              <label class="form-check-label" for="velocidad-inicial-no">
                No
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="vi" id="velocidad-inicial-si" checked>
              <label class="form-check-label" for="velocidad-inicial-si">
                Si
              </label>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="velocidad_final" class="form-label text-center w-100">¿Conoce la velocidad final?</label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="vf" id="velocidad-final-no">
              <label class="form-check-label" for="velocidad-final-no">
                No
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="vf" id="velocidad-final-si" checked>
              <label class="form-check-label" for="velocidad-final-si">
                Si
              </label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3">Next</button>
      </div>
    </form>
    <form action="" method="post">
      <div class="row justify-content-md-center">
        {% for dato in datos_a_ingresar %}
        <div class="col-md-auto text-center justify-content-center">
          <div class="mb-3">
            <label for={{dato}} class="form-label text-center">{{dato}}</label>
            <input type="number" name={{dato}} class="form-control w-75 ms-auto me-auto" id={{dato}} >
          </div>
        </div>
        {% endfor %}
      </div>
    </form>
  </div>
  <div class="container w-25 justify-content-center text-center" >
    <button  class="btn btn-primary mb-3">Calcular</button>
    <div class="respuestas">
      <ul class="list-group list-group-flush">
        <li id="resp-velocidad-final" class="list-group-item">Velocidad final: </li>
        <li id="resp-velocidad-inicial" class="list-group-item">Velocidad inicial: </li>
        <li id="resp-tiempo" class="list-group-item">Tiempo: </li>
        <li id="resp-distancia recorrida" class="list-group-item">Distancia recorrida: </li>
        <li id="resp-aceleración" class="list-group-item">Aceleración: </li>
      </ul>
    </div>
  </div>
    <footer class="text-center text-white" style="background-color: #3f80b5">
      <div class="container">
        <section class="mt-5">
          <div class="row text-center d-flex justify-content-center pt-5">
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">Santiago Bernert</h6>
            </div>
            <div class="col-md-2">
              <h6 class="text-uppercase font-weight-bold">Santino Sabatini</h6>
            </div>
          </div>
        </section>
        <hr class="my-3" />
        <section class="mb-1">
          <div class="row d-flex justify-content-center my-4">
            <div class="col-lg-8">
              <p>
                Calculadora de aceleración constante
              </p>
            </div>
          </div>
        </section>
      </div>
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2022 Copyright
        <p class="text-white"
           >Etec</p
          >
      </div>
    </footer>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</html>