body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.barra-navegacion{
    display: inline-flex;
    width: 100%;
    background-color: #3b3b3b;
    color: #ffff;
    padding: 1rem;
    align-items: center;
}
.barra-navegacion a{
    text-decoration: none;
    color: #eee;
}
.marca{
    display: inline-flex;
    justify-content: space-between;
    padding-inline-start: .5rem;
}
.marca *{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    margin-block: 0;
    margin-inline: .5rem;
}
.secciones{
    margin-left: auto;
    float: inline-end;
    padding-right: 3rem;
}
.nav-ul{
    justify-content: space-evenly;
    display: inline-flex;
    list-style-type: none;
    margin-block: 0;

}
.item{
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    text-decoration: none;

}
.item :hover{
    color: #eee;
}
.main{
    height: 100%;
}
.seccion-titulo{
    width: 100%;
    background-color: #c99a02;
    padding: .5rem;
    text-align: center;
}
.titulo{
    font-size: 2em;
    font-weight: 500;
    color: #ffff;
}
.seccion-perros{
    padding-top: 1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
}
.img-perro{
    border-radius: .2rem;
}